<div class="container">

  <div class="container mt-5">
    <div class="card text-center" style="color:darkgreen; padding: 20px;">
      <h1>Felhasználó regisztrációja</h1>
    </div>
  </div>
    <div class="card mt-5" style="padding: 20px;">

          <form  (ngSubmit) = "register()" [formGroup]="registerForm">
            <div class="form-group">
              <label for="userName">Felhasználónév:</label>
              <input type="text"  formControlName ="userName"  class="form-control" placeholder="Írjon be egy felhasználónevet">
            </div>
            <div class="form-group">
            <label for="userPassword">Jelszó</label>
            <input type="password"  formControlName="userPassword"  class="form-control" placeholder="Írjon be egy jelszót">
            </div>
            <div class="form-group">
            <label for="confirmPassword">Jelszó megerősítése</label>
            <input type="password"  formControlName="confirmPassword"  class="form-control" placeholder="Írja be még egyszer a jelszót">
            </div>

            <span style="color: red;"  *ngIf="registerForm.errors?.['passwordmatcherror']">A két jelszó nem egyezik! </span>

            <p></p>

            <div class="form-group">
                <input type="submit" [disabled]="registerForm.invalid" value="Regisztráció" class="btn btn-primary w-100">
              </div>

            </form>
          </div>
</div>
