<div class="container mt-5">
  <div class="container mt-5" style="text-align: center;">
      <h1>Bejelentkezés</h1>
  </div>

    <div class="card text-center" style="padding: 20px;">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <input type="text"
                ngModel
                name="userName"
                id="userName"
                placeholder="Felhasználónév"
                class="form-control mb-3"
            >

            <input type="password"
                ngModel
                name="userPassword"
                id="userPassword"
                placeholder="Jelszó"
                class="form-control mb-3"
            >

            <input type="submit" value="Bejelentkezés" class="btn btn-outline-dark form-control rounded-0">
        </form>
    </div>
</div>
